.hp-xp-bar {
    position: absolute;
    width: 250px;
    left: 25%;
    top: 25px;
    border:1.5px black solid;
}

.health-wrapper {
    float:left;
    padding: 0 10px 0 0;
}

.experience-wrapper {
    float: right;
    padding: 0 1px 0 10px;
}
