.draw-deck {
  position: relative;
  top: 0;
  left: 0;
}

.draw-buttons {
    position: absolute;
    top: 11px;
    left: 174px;
}

.draw-buttons .btn {
  margin-bottom: 5px;
}

.discard {
}

.lastDraw {
  margin-bottom: 50px;
}
